.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        color: aqua;
    }
    gap: 5px;
    
}
li{
    gap: 10px;
    font-size: 25px;
}
.xxx{
    margin-left: 20px;
    background-color: red;
    color: white;
}