.header {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  justify-items: center;
  align-items: center;
  padding: 0 10rem;
  height: 40px;
}

.menu {
  display: flex;
  gap: 1.7rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;

}

.menu a:hover {
    color: #667eea;
}

.menu a::after {
    transition: width 0.3s ease;
}

.icons {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.coco{
    padding: 20px;
    background-color: rgba(45, 111, 223, 0.575);
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: start;
    overflow: hidden;
}
.shop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop p{
    margin-top: -15px;
}
.shop h3{
    font-weight: bold;
}
.all-btn{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}
.solo-btn{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.solo-btn button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 40px;
    padding: 0;
    
}
.solo-btn p{
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.solo-btn button:hover{
    border: 2px solid rgb(71, 215, 58);
    background-color: #677eea;
    transform: scale(1.2);
}
