.App{
  height: 90vh;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
.upper-part{
  height: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #8174f3;
  padding-left: 10px;
  color: white;
  gap: 10px;
  font-size:larger;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  p{
    margin-top: -15px;
  }

}
.full-part{
  height: 85%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contact-form{
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-form input{
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.contact-form button{
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #8174f3;
  color: white; 
}